{% extends "auctions/layout.html" %}

{% block body %}

<h2>Active Listings</h2>

<ul>
    {% for listing in listings %}

        {% if listing.active %}

        <li>
            <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
            Description: {{ listing.description }} currently sells at {{ listing.starting_bid }}
            Category: {{ listing.category }}</li>

        {% endif %}
    {% endfor%}
</ul>

<h2>Closed Listings</h2>

<ul>
    {% for listing in listings %}

        {% if not listing.active %}

        <li><a href="{% url 'listing' listing.id %}">Item: {{ listing.title }}</a> - Description: {{ listing.description }} currently sells at {{ listing.starting_bid }} image: <img src="{{listing.img_url}}"> and Category: {{ listing.category }}</li>

        {% endif %}
    {% endfor%}
</ul>

{% endblock %}