{% extends "auctions/layout.html" %}
{% block body %}

<h2>Active Listings</h2>
<ul>
    {% for listing in listings %}
        {% if listing.active %}
            <li>
                <div id="listing">
                    <div class="row">
                        <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                    </div>
                    <div class="row">
                        Description: {{ listing.description }} currently sells at {{ listing.starting_bid }}
                    </div>
                    <div class="row">
                        Category: {{ listing.category }}
                    </div>
                </div>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<h2>Closed Listings</h2>
<ul>
    {% for listing in listings %}
        {% if not listing.active %}
        <li>
            <div class="row">
                <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
            </div>
            <div class="row">
                Description: {{ listing.description }} sold for {{ listing.current_bid.user_bid }}
            </div>
            <div class="row">
                Category: {{ listing.category }}
            </div>
        </li>

        {% endif %}
    {% endfor%}
</ul>

{% endblock %}