{% extends "auctions/layout.html" %}
{% block body %}

    <div class="row">
        <h3>
            Items on your watchlist:
        </h3>
    </div>
    
    <div class="row">
        <ul>
            {% for listing in watchlist %}
                <li><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                    Description: {{ listing.description }}
                    Category: {{ listing.category }} 
                    Current Price: {{ listing.starting_bid }}
                    Image: <img src="{{listing.img_url}}"></li>
            {% endfor%}
        </ul>
    </div>

{% endblock %}